.container{
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 99px;
}
/* header */
.burger_icon{
    display: none;
}
header{
    background-color:#311500;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    max-width: inherit;
    width: inherit;
    z-index: 13;

}
.header_ul{
    display: flex;
    column-gap: 36px;
}
.header_a{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.44023728370666504px;
color:  #DEE2EB;
}
.active{
    color: #C46A2B;
}
.header_button{
    border: 0;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;
    color: #DEE2EB;
    background-color: #C46A2B;
    width: 100px;
    height: 48px;
    top: 24px;
    left: 1246px;
    padding: 12px 18px 12px 19px;
    opacity: 0px;
}
/* section1 */
.section1{
    background-image:url(../images/cover\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    flex-wrap: nowrap;
}
.section1_article{
   display: flex;
   column-gap: 39px;
}
.section1_arrow{
    width: 56px;
    height: 56px;
    
}
.section1_article_h2{
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.10000000149011612px;
    color:#ffffff;
}
.section2{
    background-color: #DEE2EB;
    padding: 94px;
}
.section_name{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #311500;
    margin-bottom: 56px; 
    display: flex;
    justify-content: center;
}
.card_section{
    display: flex;
    column-gap: 20px;
}
.section2_card_section_article{
    background-color: #311500;
    padding: 8px;
    padding-bottom: 16px;
}
.section2_card_section_article_img{
    width: 100%;
}
.section2_cards_section_article_title_text{
row-gap: 16px;  
display: flex;  
flex-direction: column;
}
.price{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #DEE2EB;
}
.product_title{
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #C46A2B;
}
.card_section_button{
    width: 27px;
    height: 27px;
    left: 255px;
    padding: 6px 6px 5px 5px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    border: 1px solid #DEE2EB;
    background-color: #C46A2B;
}
.price_button_article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}












footer{
    background-color: #311500;
    justify-content: center;
    padding-inline: 510px;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    column-gap: 80px;
}
.footer_nav_ul{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.footer_section_title1{
    margin-bottom: 16px;
    color: #C46A2B;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
}
.footer_nav_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
}
